modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[userenv]

[userenv.shared]
APP_ID = "1531796145800478771"
PUBLIC_KEY = "a7eb29e711bffd73127391ceb42cde75c4900be54b1a1751f57bff2e03c6b198"

[deployment]
deploymentTarget = "vm"
run = ["python", "bot.py"]
